# Circle CI script to run a matrix of tests in DDev.

version: 2.1
orbs:
  docker: circleci/docker@2.5.0

commands:
  install-ddev:
    steps:
      - run:
          name: Install DDev
          command: |
            set -e
            sudo rm -rf /etc/apt/sources.list.d/heroku.list
            sudo apt-get update
            sudo apt-get install ca-certificates
            curl https://apt.fury.io/drud/gpg.key | sudo apt-key add -
            echo "deb https://apt.fury.io/drud/ * *" | sudo tee -a /etc/apt/sources.list.d/ddev.list
            sudo apt update && sudo apt install -y ddev

  prepare_build:
    parameters:
      php_version:
        description: "PHP major.minor for DDev to use."
        default: "8.2"
        type: string
      database_version:
        description: "Database version for DDev to use."
        default: "mysql:5.7"
        type: string
      addon_branch:
        description: "Repo branch name for the DKAN DDev add-on you want to test against."
        default: "main"
        type: string
      drupal_core_constraint:
        description: "Branch of getdkan/recommended-project to use."
        default: "10.3.x-dev"
        type: string
      upgrade:
        description: "If true, will install the latest stable version and test upgrade"
        default: false
        type: boolean
    steps:
      - run:
          # TODO: We might not need to do this.
          name: Set up composer config
          command: |
            mkdir ~/.composer
            bash -c 'echo "{\"github-oauth\": {\"github.com\": \"$GITHUB_TOKEN\"}}"' > ~/.composer/auth.json
      - install-ddev
      - checkout
      - when:
          condition: << parameters.upgrade >>
          steps:
            - run:
                name: Switch to dev branch for upgrade testing
                command: |
                  git checkout 2.x
                  # The following should be removed once the 2.x branch has the ddev add-on config.
                  git checkout $CIRCLE_BRANCH -- .ddev composer.json

      - run:
          name: Build site codebase
          command: |
            # Help debug ddev install issues.
            which ddev
            ddev --version
            ddev config global --instrumentation-opt-in=false
            # Set up the ddev project. See https://github.com/ddev/ddev-drupal-contrib
            ddev config --project-type=drupal \
              --docroot=web --database="<< parameters.database_version >>" \
              --php-version="<< parameters.php_version >>" --corepack-enable
            ddev add-on get ddev/ddev-drupal-contrib
            # Set up env vars for Drupal version, composer, xdebug and drupal root.
            ddev dotenv set .ddev/.env.web --drupal-core "<< parameters.drupal_core_constraint >>" \
              --composer-no-interaction "1" \
              --drupal-root "/var/www/html/web" \
              --xdebug-mode "coverage" \
              --composer-auth "$COMPOSER_AUTH"
            ddev start
            ddev poser
            ddev select2
            ddev symlink-project
            ddev config --update
            ddev restart
            ddev status
      - run:
          name: Install site
          command: |
            ddev dkan-site-install
            ddev drush rq
      - when:
          condition: << parameters.upgrade >>
          steps:
            - run:
                name: Update to testing branch
                command: |
                  git stash
                  git checkout $CIRCLE_BRANCH
                  ddev poser
                  ddev drush updb -y
                  ddev drush cr
                  ddev drush rq

jobs:
  phpunit:
    executor: docker/machine
    parallelism: 4
    parameters:
      php_version:
        description: "PHP major.minor for DDev to use."
        default: "8.1"
        type: string
      database_version:
        description: "Database version for DDev to use."
        default: "mysql:5.7"
        type: string
      drupal_core_constraint:
        description: "Branch of getdkan/recommended-project to use."
        default: "~10.4"
        type: string
      report_coverage:
        description: "Generate coverage report and send it to Qlty"
        default: false
        type: boolean
      upgrade:
        description: "If true, will install the latest stable DKAN version and test upgrade"
        default: false
        type: boolean
    steps:
      - prepare_build:
          php_version: << parameters.php_version >>
          database_version: << parameters.database_version >>
          drupal_core_constraint: << parameters.drupal_core_constraint >>
          upgrade: << parameters.upgrade >>
      - run:
          name: Set up GROUP_ARG variable for paralallel tests
          command: |
            EXCLUDES=$(seq -s, 1 $(($CIRCLE_NODE_TOTAL-1)) | sed 's/[0-9]\+/functional&/g')
            [[ $CIRCLE_NODE_INDEX == 0 ]] \
              && PHPUNIT_GROUP_ARG="exclude-group $EXCLUDES" \
              || PHPUNIT_GROUP_ARG="group functional$CIRCLE_NODE_INDEX"
            echo "export PHPUNIT_GROUP_ARG=\"$PHPUNIT_GROUP_ARG\"" >> $BASH_ENV
      - when:
          condition: << parameters.report_coverage >>
          steps:
            - run:
                name: Run PHPUnit tests with coverage report
                environment:
                  XDEBUG_MODE: coverage
                  QLTY_COVERAGE_TOKEN: ${QLTY_COVERAGE_TOKEN}
                command: |
                  ddev xdebug on
                  mkdir -p $CIRCLE_WORKING_DIRECTORY/report/php
                  mkdir -p $CIRCLE_WORKING_DIRECTORY/report/clover
                  ddev phpunit \
                    --$PHPUNIT_GROUP_ARG \
                    --coverage-clover /var/www/html/report/clover/clover-$CIRCLE_NODE_INDEX.xml \
                    --coverage-php /var/www/html/report/php/coverage-$CIRCLE_NODE_INDEX.cov \
                    --log-junit /var/www/html/report/junit/junit.xml
                  TEST_RESULT=$?
                  echo "Listing all files in the report directory:"
                  find $CIRCLE_WORKING_DIRECTORY/report -type f -ls
                  if [ -f $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml ]; then
                    echo "Coverage file: $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml"
                  else
                    echo "Coverage file not created: $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml"
                  fi
                  exit $TEST_RESULT
            - run:
                name: Upload coverage report to qlty.sh
                command: |
                  curl https://qlty.sh | sh
                  source /home/circleci/.bash_profile
                  qlty coverage publish \
                    --strip-prefix "/var/www/html" \
                    --total-parts-count $CIRCLE_NODE_TOTAL \
                    $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml
            - persist_to_workspace:
                root: report
                paths:
                  - php
      - unless:
          condition: << parameters.report_coverage >>
          steps:
            - run:
                name: Run PHPUnit tests
                command: |
                  ddev phpunit \
                    --$PHPUNIT_GROUP_ARG \
                    --log-junit /var/www/html/report/junit/junit.xml
      - store_test_results:
          path: report/junit

  cypress:
    machine:
      image: ubuntu-2204:current
    parallelism: 4
    parameters:
      php_version:
        description: "PHP major.minor for DDev to use."
        default: "8.3"
        type: string
      database_version:
        description: "Database version for DDev to use."
        default: "mysql:5.7"
        type: string
      drupal_core_constraint:
        description: "Branch of getdkan/recommended-project to use."
        default: "~10.5"
        type: string
      upgrade:
        description: "If true, will install the latest stable DKAN version and test upgrade"
        default: false
        type: boolean
    steps:
      - prepare_build:
          php_version: << parameters.php_version >>
          database_version: << parameters.database_version >>
          drupal_core_constraint: << parameters.drupal_core_constraint >>
          upgrade: << parameters.upgrade >>
      - run:
          name: Run Cypress tests
          max_auto_reruns: 3
          command: |
            mkdir cypress/tmp
            mkdir cypress/results
            mv $(circleci tests glob cypress/e2e/*.cy.js | circleci tests split --split-by=timings) cypress/tmp || true
            rm cypress/e2e/*
            mv cypress/tmp/* cypress/e2e
            ddev npm install cypress --save-dev
            ddev dkan-module-test-cypress \
              --headless \
              --reporter junit \
              --reporter-options "mochaFile=cypress/results/cypress-results-[hash].xml"
      - store_artifacts:
          path: cypress/screenshots
      - store_artifacts:
          path: cypress/videos
      - store_test_results:
          path: cypress/results

workflows:
  version: 2
  install_and_test:
    # We use matrix for these parameters so that we can tell them apart in report screens.
    jobs:
      - cypress:
          name: install_test_cypress
          drupal_core_constraint: "~10.5.0"
      - phpunit:
          name: "Install target (Drupal 10.5, PHP 8.3)"
          report_coverage: true
          matrix:
            parameters:
              drupal_core_constraint: ["~10.5.0"]
              php_version: ["8.3"]
              database_version: ["mysql:5.7"]
      - phpunit:
          matrix:
            parameters:
              drupal_core_constraint: ["~11.1.0"]
              php_version: ["8.4"]
              database_version: ["mariadb:10.11"]
      - phpunit:
          matrix:
            parameters:
              drupal_core_constraint: ["~11.0.0", "~11.1.0", "~11.2.0"]
              php_version: ["8.3"]
              database_version: ["mariadb:10.11"]
      - phpunit:
          matrix:
            parameters:
              drupal_core_constraint: ["~10.5.0"]
              php_version: ["8.1", "8.2", "8.4"]
              database_version: ["mysql:5.7"]
      - phpunit:
          matrix:
            parameters:
              drupal_core_constraint: ["~10.4.0"]
              php_version: ["8.3"]
              database_version: ["mysql:5.7"]
            

  upgrade_and_test:
    jobs:
      - cypress:
          name: upgrade_test_cypress
          upgrade: true
          drupal_core_constraint: "10.4.x-dev"
