# Circle CI script to run a matrix of tests in DDev.

version: 2.1
orbs:
  docker: circleci/docker@2.5.0

commands:
  install-ddev:
    steps:
      - run:
          name: Install DDev
          command: |
            set -e
            sudo rm -rf /etc/apt/sources.list.d/heroku.list
            sudo apt-get update
            sudo apt-get install ca-certificates
            curl https://apt.fury.io/drud/gpg.key | sudo apt-key add -
            echo "deb https://apt.fury.io/drud/ * *" | sudo tee -a /etc/apt/sources.list.d/ddev.list
            sudo apt update && sudo apt install -y ddev

  prepare_build:
    parameters:
      php_version:
        description: "PHP major.minor for DDev to use."
        default: "8.2"
        type: string
      database_version:
        description: "Database version for DDev to use."
        default: "mysql:5.7"
        type: string
      addon_branch:
        description: "Repo branch name for the DKAN DDev add-on you want to test against."
        default: "main"
        type: string
      dkan_recommended_branch:
        description: "Branch of getdkan/recommended-project to use."
        default: "10.3.x-dev"
        type: string
    steps:
      - run:
          # TODO: We might not need to do this.
          name: Set up composer config
          command: |
            mkdir ~/.composer
            bash -c 'echo "{\"github-oauth\": {\"github.com\": \"$GITHUB_TOKEN\"}}"' > ~/.composer/auth.json
      - install-ddev
      - run:
          name: Build site codebase
          command: |
            which ddev
            ddev --version
            ddev config global --instrumentation-opt-in=false
            ddev config --project-name test-$CIRCLE_WORKFLOW_JOB_ID --project-type drupal9 --docroot docroot
            ddev add-on get https://github.com/GetDKAN/ddev-dkan/archive/refs/heads/<< parameters.addon_branch >>.tar.gz
            ddev restart
            ddev dkan-init --project-version << parameters.dkan_recommended_branch>> --force
            bash -c 'echo COMPOSER_AUTH=$COMPOSER_AUTH' > .ddev/.env
            # Modify config to use our PHP version and database.
            ddev delete --omit-snapshot --yes
            ddev config --database="<< parameters.database_version >>" --php-version="<< parameters.php_version >>"
            cat .ddev/config.yaml
            ddev restart
            ddev status
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
            mkdir -p test_results

  prepare_site:
    parameters:
      upgrade:
        description: "If true, will install the latest stable version and test upgrade"
        default: false
        type: boolean
      needs_cypress:
        description: "If true, will add Cypress to the DDev environment"
        default: false
        type: boolean
    steps:
      - checkout:
          path: dkan
      - when:
          condition: << parameters.needs_cypress >>
          steps:
            - run:
                # TODO: This hacks around the specific Cypress version requirement for DKAN. Find a better way.
                name: Cypressify ddev
                command: |
                  mv .ddev/misc/docker-compose.cypress.yaml .ddev/docker-compose.cypress.yaml
                  ddev restart
      - when:
          condition: << parameters.upgrade >>
          steps:
            - run:
                name: Install site and update to dev dkan
                command: |
                  ddev composer show getdkan/dkan
                  # Install dkan release specified by getdkan/recommended-project.
                  ddev dkan-site-install
                  # Switch over to using the repo code for dkan and update.
                  ddev composer config repositories.dkan path dkan
                  ddev composer require getdkan/dkan:@dev --no-install -W
                  ddev composer update getdkan/dkan -W
                  ddev composer show getdkan/dkan
                  ddev drush updb -y
                  ddev drush cr
                  ddev drush rq
      - unless:
          condition: << parameters.upgrade >>
          steps:
            - run:
                name: Install site
                command: |
                  ddev composer config repositories.dkan path dkan
                  # To avoid dependency issues when installing on PHP 8.1 we need to re-require openapi-httpfoundation-testing.
                  ddev composer require --dev osteel/openapi-httpfoundation-testing -W
                  ddev composer require getdkan/dkan:@dev --no-install -W
                  ddev composer update getdkan/dkan -W
                  ddev composer show getdkan/dkan
                  ddev dkan-site-install
                  ddev drush rq

jobs:
  phpunit:
    executor: docker/machine
    parallelism: 4
    parameters:
      php_version:
        description: "PHP major.minor for DDev to use."
        default: "8.1"
        type: string
      database_version:
        description: "Database version for DDev to use."
        default: "mysql:5.7"
        type: string
      dkan_recommended_branch:
        description: "Branch of getdkan/recommended-project to use."
        default: "10.3.x-dev"
        type: string
      report_coverage:
        description: "Generate coverage report and send it to CodeClimate"
        default: false
        type: boolean
      upgrade:
        description: "If true, will install the latest stable DKAN version and test upgrade"
        default: false
        type: boolean
    steps:
      - prepare_build:
          php_version: << parameters.php_version >>
          database_version: << parameters.database_version >>
          dkan_recommended_branch: << parameters.dkan_recommended_branch >>
      - prepare_site:
          upgrade: << parameters.upgrade >>
          needs_cypress: false
      - run:
          name: Set up GROUP_ARG variable for paralallel tests
          command: |
            EXCLUDES=$(seq -s, 1 $(($CIRCLE_NODE_TOTAL-1)) | sed 's/[0-9]\+/functional&/g')
            [[ $CIRCLE_NODE_INDEX == 0 ]] \
              && PHPUNIT_GROUP_ARG="exclude-group $EXCLUDES" \
              || PHPUNIT_GROUP_ARG="group functional$CIRCLE_NODE_INDEX"
            echo "export PHPUNIT_GROUP_ARG=\"$PHPUNIT_GROUP_ARG\"" >> $BASH_ENV
      - when:
          condition: << parameters.report_coverage >>
          steps:
            - run:
                name: Run PHPUnit tests with coverage report
                environment:
                  XDEBUG_MODE: coverage
                command: |
                  ddev xdebug on
                  mkdir -p $CIRCLE_WORKING_DIRECTORY/report/php
                  mkdir $CIRCLE_WORKING_DIRECTORY/report/clover
                  $CIRCLE_WORKING_DIRECTORY/cc-test-reporter before-build
                  ddev dkan-phpunit \
                    --$PHPUNIT_GROUP_ARG \
                    --coverage-clover /var/www/html/report/clover/clover-$CIRCLE_NODE_INDEX.xml \
                    --coverage-php /var/www/html/report/php/coverage-$CIRCLE_NODE_INDEX.cov \
                    --log-junit /var/www/html/report/junit/junit.xml
                  TEST_RESULT=$?
                  echo "Listing all files in the report directory:"
                  find $CIRCLE_WORKING_DIRECTORY/report -type f -ls
                  if [ -f $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml ]; then
                    echo "Coverage file: $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml"
                  else
                    echo "Coverage file not created: $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml"
                  fi
                  exit $TEST_RESULT
            - run:
                name: Reformat the coverage report
                command: |
                  cd $CIRCLE_WORKING_DIRECTORY/dkan
                  $CIRCLE_WORKING_DIRECTORY/cc-test-reporter format-coverage \
                    $CIRCLE_WORKING_DIRECTORY/report/clover/clover-$CIRCLE_NODE_INDEX.xml \
                    --input-type clover \
                    --output $CIRCLE_WORKING_DIRECTORY/report/codeclimate/codeclimate.$CIRCLE_NODE_INDEX.json \
                    --prefix /var/www/html/dkan
            - persist_to_workspace:
                root: report
                paths:
                - php
                - codeclimate
      - unless:
          condition: << parameters.report_coverage >>
          steps:
            - run:
                name: Run PHPUnit tests
                command: |
                  ddev dkan-phpunit \
                    --$PHPUNIT_GROUP_ARG \
                    --log-junit var/www/html/report/junit/junit.xml
      - store_test_results:
          path: report/junit

  phpunit-coverage-report:
    machine:
      image: ubuntu-2204:current
    steps:
      - attach_workspace:
          at: report
      - run:
          name: Install CodeClimate test reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Merge and send coverage report to CodeClimate
          command: |
            $CIRCLE_WORKING_DIRECTORY/cc-test-reporter sum-coverage \
              $CIRCLE_WORKING_DIRECTORY/report/codeclimate/codeclimate.*.json \
              --output - |
              $CIRCLE_WORKING_DIRECTORY/cc-test-reporter upload-coverage --debug --input -

  cypress:
    machine:
      image: ubuntu-2204:current
    parallelism: 4
    parameters:
      php_version:
        description: "PHP major.minor for DDev to use."
        default: "8.2"
        type: string
      database_version:
        description: "Database version for DDev to use."
        default: "mysql:5.7"
        type: string
      dkan_recommended_branch:
        description: "Branch of getdkan/recommended-project to use."
        default: "10.3.x-dev"
        type: string
      upgrade:
        description: "If true, will install the latest stable DKAN version and test upgrade"
        default: false
        type: boolean
    steps:
      - prepare_build:
          php_version: << parameters.php_version >>
          database_version: << parameters.database_version >>
          dkan_recommended_branch: << parameters.dkan_recommended_branch >>
      - prepare_site:
          upgrade: << parameters.upgrade >>
          needs_cypress: true
      - run:
          name: Run Cypress tests
          command: |
            mkdir dkan/cypress/tmp
            mkdir dkan/cypress/results
            mv $(circleci tests glob dkan/cypress/e2e/*.cy.js | circleci tests split --split-by=timings) dkan/cypress/tmp || true
            rm dkan/cypress/e2e/*
            mv dkan/cypress/tmp/* dkan/cypress/e2e
            ddev npm install cypress --save-dev
            ddev dkan-module-test-cypress \
              --headless \
              --reporter junit \
              --reporter-options "mochaFile=cypress/results/cypress-results-[hash].xml"
      - store_artifacts:
          path: dkan/cypress/screenshots
      - store_artifacts:
          path: dkan/cypress/videos
      - store_test_results:
          path: dkan/cypress/results

workflows:
  version: 2
  install_and_test:
    # We use matrix for these parameters so that we can tell them apart in report screens.
    jobs:
      - cypress:
          name: install_test_cypress
          dkan_recommended_branch: "10.3.x-dev"
      - phpunit:
          name: "Install target (Drupal 10.3, PHP 8.3)"
          report_coverage: true
          matrix:
            parameters:
              dkan_recommended_branch: ["10.3.x-dev"]
              php_version: ["8.3"]
      - phpunit:
          matrix:
            parameters:
              dkan_recommended_branch: ["11.1.x-dev", "11.0.x-dev"]
              php_version: ["8.4", "8.3"]
              database_version: ["mariadb:10.6"]
            exclude:
              - php_version: "8.4"
                dkan_recommended_branch: "11.0.x-dev"
                database_version: "mariadb:10.6"
      - phpunit:
          matrix:
            parameters:
              dkan_recommended_branch: ["10.4.x-dev"]
              php_version: ["8.4", "8.3"]
              database_version: ["mysql:5.7"]
      - phpunit:
          matrix:
            parameters:
              dkan_recommended_branch: ["10.3.x-dev"]
              php_version: ["8.2", "8.1"]
              database_version: ["mysql:5.7"]
      - phpunit-coverage-report:
          requires:
            - "Install target (Drupal 10.3, PHP 8.3)"

  upgrade_and_test:
    jobs:
      - cypress:
          name: upgrade_test_cypress
          upgrade: true
          dkan_recommended_branch: "10.3.x-dev"
